@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat !important;
}




/* headear */



.contenedor-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 20vh;    
    background: linear-gradient(45deg,#A70CA7,#170E47);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}




.contenedor-header .tittle-contenedor-header h1{
    color: white;
    margin-top: 2em;
}


/* menu de navegacíon */

.contenedor-header .menu-header {
    box-shadow: 1px 0px 7px 6px rgba(0, 0, 0, 0.5);
    margin-left: 25em;
    margin-top: 5em;
    padding-right:12em;
}

.menu-header a.nav-link.active{
    background: rgb(236, 119, 76);
    box-shadow: 1px 5px 7px 3px rgba(0, 0, 0, 0.5);
    padding-right: 1em;
   
}


.menu-header a.nav-link{
    color: white;
    margin-left: 1em;
   
}

 
/*  primera seccion  register */

section .primer-contenedor{
    display: flex;
    justify-content: space-around;
}

.primer-contenedor .contenedor-form{
    margin-top: 4em;
    margin-left: 3em;
    padding: 50px 60px 70px ;
    border-radius: 1em;
    text-align: center;
    box-shadow: 1px 3px 6px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background: linear-gradient(45deg,#A70CA7,#170E47);
}


.primer-contenedor .form{
    width: 100%;
    max-width: 450px;
}


.primer-contenedor .contenedor-form .form h3{
    margin-top: 1em;
    margin-bottom: 2em;
    color: orange;
}

.primer-contenedor .contenedor-form .form p{
    margin-top: 2em;
    color: orange;
    text-align: center;
}


.input-field {
    margin: 15px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}


input{
    margin-left: 2em;
    width: 100%;
    background: rgb(218, 210, 228);
    border: 0;
    outline: none;
    padding: 10px 10px;
}

input::placeholder{
    color: black;
}

.input-field i {
    margin-left: 15px;
    color: orange;
    margin-right: 1em;
}



/* botones */


.btn.btn-sm{
    background-color: #EC774C;
    color: white;
    cursor: pointer;
    transition: background 1s;
    box-shadow: 1px 3px 6px 6px rgba(0, 0, 0, 0.5);
    margin-left: 5em;
    margin-top: 1em;
}









.primer-contenedor .text-primer-contenedor{
    margin-top: 8em;
    margin-left: 11em;
}

.primer-contenedor .text-primer-contenedor h2{
    color: #7462ff;
}

.primer-contenedor .text-primer-contenedor p{
    margin-top: 1em;
    margin-right: 10em;
}





/* cuarto contenedor */

.cuarto-contenedor{
    margin-top: 7em;
    width: 100%;
    height: 140vh;    
    background: linear-gradient(45deg,#A70CA7,#170E47);
    box-shadow: 1px 3px 6px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}


.cuarto-contenedor .text-cuarto-contenedor{
    margin-top:3em ;
}

.cuarto-contenedor .text-cuarto-contenedor h3{
    color:white;
    text-align: center;
}



.cuarto-contenedor  .ubicacion-cuarto h3{
    margin-top: 3em;
    color: white;   
    text-align: center;
}


.cuarto-contenedor p{
    margin-top: 2em;
    text-align: center;
    color: white;
}



.cuarto-contenedor .iframe-cuarto{
    margin-top: 3em;
    margin-left: 22em;
    border-radius: 3em;

}




.cuarto-contenedor .img-redes{
    display: flex;
    justify-content:center;
    margin-top: 2em;
    margin-right: 1em;
}

.cuarto-contenedor .img-redes img{
    margin-left: 1em;
}



















/* footer */


.contenedor-footer{
    display: flex;
    justify-content: center;
}

.contenedor-footer .icon-footer img{
    margin-top: 3.5em;
    margin-right: 2em;
}




.contenedor-footer .item-uno h3{
    color: #7462ff;
    margin-top: 2em;
}

.contenedor-footer .item-dos ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 3.8em;
}

.contenedor-footer .item-dos ul li{
    margin-left: 2em;
}


.contenedor-footer .item-dos ul li a:link{
   color: #7462ff;;
}




/* Modo nocturno */

#boton{
    width: 5px;
    font-size: 30px;
    margin-bottom: 2em;
    cursor: pointer;
    color: #170E47;
}


.darkmode{
    background-color: #170E47 !important;

}

.darkmode h1 {
    color: orange !important;
}

.darkmode h2{
    color: orange !important;
}

.darkmode h3{
    color: orange !important;
}

.darkmode h4{
    color: orange !important;
}

.darkmode p{
    color: #968ce4;
}


.darkmode .segundo-contenedor .item .card{
    background-color: #170E47;
}

.darkmode strong{
    color: orange;
}

.darkmode .menu-header a.nav-link.active{
    color: white;
}

.darkmode .menu-header a.nav-link{
    color: orange;
}